@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --mainColor: #377df7;
  --darkMainColor: #2f6cd6;
  --mainBgColor: #f7f9fc;
  --secondaryBgColor: #d4dbea;
  --mainTextColor: #434343;
  --secondaryTextColor: #a2a2a2;
  --mainTransition: all 0.3s linear;
}
html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #d4dbea;
  /* opacity: 0.9; */
  background: repeating-linear-gradient(
    -45deg,
    #2f6cd6,
    #2f6cd6 5px,
    #d4dbea 5px,
    #d4dbea 25px
  );
  height: 100vh;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding-inline: 270px;
  background-color: var(--mainBgColor);
  color: var(--mainTextColor);
  box-shadow: 0 2px 5px rgba(45, 45, 45, 0.428);
}
.main-header .logo {
  font-family: "Kaushan Script";
  font-size: 25px;
}
@media (max-width: 768px) {
  .main-header {
    padding-inline: 10px;
  }
}
.main-header .cart-shopping {
  cursor: pointer;
  font-size: 30px;
  position: relative;
  transition: transform 0.2s ease-out;
}
.main-header .cart-shopping:hover {
  transform: scale(1.1);
}
.main-header .cart-shopping .counter-items {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: -10px;
  right: -5px;
  color: var(--mainColor);
  font-size: 18px;
  border: 1px solid var(--secondaryBgColor);
  font-weight: bold;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*  start products  */
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  margin: 30px auto;
  width: calc(100vw - 540px);
  padding: 10px 30px;
  border-radius: 16px;
}
@media (max-width: 768px) {
  .products-container {
    width: 100%;
    padding: 10px;
  }
}

.product-container {
  background-color: var(--mainBgColor);
  flex: 25%;
  min-width: 150px;
  max-height: 350px;
  border-radius: 8px;
}
.product-container:hover {
  box-shadow: 2px 2px 10px black;
}
.product-container .head-product {
  height: 60%;
  border-bottom: 1px solid var(--mainColor);
  background-color: var(--mainBgColor);
  border-radius: 8px 8px 0 0;
}
.product-container .head-product {
  height: 60%;
  width: 100%;
}
.product-container .head-product img {
  border-radius: 8px 8px 0 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.product-container .footer-product {
  padding: 20px;
}
.product-container .footer-product .title {
  color: var(--secondaryTextColor);
  font-weight: lighter;
  line-height: 1.5;
}
.product-container .footer-product .price {
  font-size: 25px;
  font-weight: bold;
  color: var(--mainTextColor);
  letter-spacing: 2px;
  margin-block: 10px;
}
.product-container .footer-product .add-to-cart {
  cursor: pointer;
  background-color: var(--mainColor);
  border: none;
  outline: none;
  color: white;
  text-transform: capitalize;
  padding: 10px 10px;
  border-radius: 4px;
  transition: 0.2s;
}
.product-container .footer-product .price-and-button {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.product-container .footer-product .in-cart {
  pointer-events: none;
  background-color: var(--secondaryBgColor);
  border: none;
  outline: none;
  color: var(--secondaryTextColor);
  padding: 10px 20px;
  border-radius: 4px;
  transition: 0.2s;
}

.product-container .footer-product .add-to-cart:hover {
  background-color: var(--darkMainColor);
}
/*  end products  */
/*  start cart  */
.cart-container {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--secondaryBgColor);
  height: 100vh;
  width: 600px;
  box-shadow: -2px 0 5px var(--mainBgColor);
  transition: 0.3s ease-in-out;
  overflow-y: scroll;
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  .cart-container {
    width: 100%;
  }
}
.cart-container::-webkit-scrollbar {
  display: none;
}
.cart-container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 600px);
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.2s ease-in-out;
}
@media (max-width: 768px) {
  .cart-container::before {
    display: none;
  }
}
.cart-container.hide {
  transform: translateX(800px);
}
.cart-container.hide::after {
  display: flex;
}
.cart-container .close-cart {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--mainTextColor);
  font-size: 30px;
  margin: 5px;
}
.cart-container .title {
  text-align: center;
  color: var(--mainTextColor);
  font-size: 20px;
}
.blocks-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  gap: 5px;
  padding: 0;
}
.cart-container .blocks-container .block {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--mainBgColor);
  height: 150px;
  width: 100%;
  padding: 10px;
}
@media (max-width: 768px) {
  .cart-container .blocks-container .block {
    height: 100px;
  }
}
.cart-container .blocks-container .block .img-container {
  height: 100%;
  width: 150px;
  background-color: white;
}
@media (max-width: 768px) {
  .cart-container .blocks-container .block .img-container {
    width: 120px;
  }
}
.cart-container .blocks-container .block .img-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.cart-container .blocks-container .block .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
@media (max-width: 768px) {
  .cart-container .blocks-container .block .info {
    gap: 5px;
  }
}
.cart-container .blocks-container .block .info .title {
  font-size: 15px;
  max-width: 300px;
  text-align: left;
}
@media (max-width: 768px) {
  .cart-container .blocks-container .block .info .title {
    font-size: 12px;
  }
}
.cart-container .blocks-container .block .info .price {
  font-size: 15px;
  color: var(--mainTextColor);
}
@media (max-width: 768px) {
  .cart-container .blocks-container .block .info .price {
    font-size: 12px;
  }
}
.cart-container .blocks-container .block .info .remove {
  cursor: pointer;
  border: 1px solid red;
  outline: none;
  background-color: red;
  width: fit-content;
  color: white;
  font-weight: lighter;
  transition: 0.3s ease-in-out;
  padding: 5px;
  font-size: 15px;
  border-radius: 4px;
}

.cart-container .blocks-container .block .info .remove:hover {
  background-color: transparent;
  color: red;
}
.cart-container .blocks-container .block .quality {
  display: flex;
  flex-direction: column;
  color: var(--mainTextColor);
  align-items: center;
  font-size: 20px;
  margin-left: auto;
  margin-right: 10px;
}
.cart-container .blocks-container .block .quality {
  display: flex;
  flex-direction: column;
  color: var(--mainTextColor);
  align-items: center;
  font-size: 20px;
  margin-left: auto;
  margin-right: 10px;
  font-weight: bold;
}
.cart-container .blocks-container .block .quality .chevron-up,
.cart-container .blocks-container .block .quality .chevron-down {
  cursor: pointer;
  color: var(--mainColor);
  transition: 0.2 ease-out;
}
.cart-container .blocks-container .block .quality .chevron-up:hover,
.cart-container .blocks-container .block .quality .chevron-down:hover {
  transform: scale(1.1);
}

.cart-container .total-price {
  margin-block: 18px;
  text-align: center;
  color: var(--mainTextColor);
  font-size: 25px;
}
.cart-container .clear-cart {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: 2px solid var(--mainColor);
  outline: none;
  background-color: var(--mainColor);
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 15px 35px;
  transition: var(--mainTransition);
}
.cart-container .clear-cart:hover {
  background-color: var(--darkMainColor);
}
/*  end cart  */
